h1 {
    text-align: center;
}
body {
}

.content {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, span {
    text-align: center;
}

.whole-row {
    grid-column: 1 / span 3;
}

#form {
    width: 90%;
    margin: auto;
}

.num-pad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat(5, 80px);
    grid-gap: 0px;
    margin: auto;
    width: 100%;
}

#code {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

#btn7 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#btn8 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#btn9 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#clear {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

#btn4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#btn5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#btn6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#btn1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#btn2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#btn3 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#enter {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

#btn0 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
